:root{
  --form-output-background:rgba(5, 5, 5, 0.486) ;
  --form-output-click: rgba(46, 45, 45, 0.11);
  --form-output-color: rgb(255, 255, 255);
}

.form__output{
  display: flex;
  background-color: var(--form-output-background);
  color: var(--form-output-color);
  border-radius: 5px;
  border: 1px black solid;
}

.form__output .container{ 
  flex-grow: 1;
  height: 12.5rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  
  .form__output .container {
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
  }

}