:root {
  --borda-all: #3c3c47fa;
  --branco: ghostwhite;

  --cor-ativa: #ffffffd6;
  --cor-fundo: var(--branco);
  --cor-titulo: #ffffff;
  --cor-letras: #000;
  --cor-cabecalho: #ffffff;
  --cor-botao: #ffffff;
  --cor-legenda: var(--branco);
  --cor-resposta: rgb(0, 0, 0);

  --fundo-header-footer: #004e8e;
  --fundo-input: var(--branco);
  --fundo-titulo: #004e8e;
  --fundo-botao: #004e8e;
  --fundo-legenda: #004e8e;
  --fundo-resposta: var(--branco);
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: var(--cor-fundo);
  color: var(--cor-letras);
  font-family: Arial, sans-serif;
  font-size: 1em;
  line-height: 1;
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  flex: 1;
  width: 50%;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 0;
  font-size: 1.4em;
  font-family: Lucida Bright, Georgia, serif;
  background-color: var(--fundo-header-footer);
  border-bottom: 1px var(--borda-all) inset;
  height: 40px;
}

.cabecalho-titulo {
  padding: 0 0 0 0.5em;
  width: 21ch;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 1s steps(10), blinking 0.5s infinite step-end alternate;
  color: var(--cor-cabecalho);
}

.cabecalho-lista {
  display: flex;
  align-items: center;
  gap: 0.5em;
  color: var(--cor-cabecalho);
}

.cabecalho-item button {
  background: none;
  font-size: 1em;
  font-family: Lucida Bright, Georgia, serif;
  color: var(--cor-botao);
  border: none;
  cursor: pointer;
  font-weight: 500;
  padding: 0;
}

.cabecalho-item button:hover {
  text-decoration: underline;
}

.cabecalho-item:last-child {
  margin: 0 3em 0 0;
  outline: none;
  text-decoration: none;
}

.cabecalho-item:hover {
  text-decoration: underline;
}
.cabecalho-item:active {
  color: var(--cor-ativa);
}

footer .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  color: var(--cor-titulo);
  background-color: var(--fundo-header-footer);
  gap: 5px;
}

footer .container a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  text-align: center;
  color: black;
  background-color: ghostwhite;
  border-radius: 3px;
  height: 30px;
}

.calculadora_container {
  width: 80%;
}

.caixa_calculadora {
  padding: 1em;
  background-color: #f0f0f0;
  border: 1px var(--borda-all) inset;
  border-radius: 3px;
}

.titulo_pagina {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;
  font-size: 2rem;
  padding: 10px 40px;
  color: var(--cor-titulo);
  background-color: var(--fundo-titulo);
  margin: 0 0 0.5em 0;
  border-radius: 3px;
  border: 1px var(--borda-all) inset;
}

.caixa_preencher {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(2, 1fr);
}

.legenda-caixa {
  color: var(--cor-legenda);
  background-color: var(--fundo-legenda);
  font-weight: bold;
  padding: 0 0 0 10px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  border: 1px var(--borda-all) inset;
  border-radius: 3px;
}

.input-preencher {
  font-size: 1.1rem;
  padding: 10px;
  background-color: var(--fundo-input);
  color: var(--cor-letras);
  border-radius: 3px;
  border: 1px var(--borda-all) inset;
  outline: none;
  appearance: none;
  cursor: pointer;
  font-weight: 500;
}

.input-preencher:focus {
  cursor: text;
}

.input-preencher::placeholder {
  color: var(--cor-letras);
}

.layout-resposta {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caixa_resposta {
  align-items: center;
  justify-content: center;
  margin: 10px 0 10px 0;
  padding: 2em 0;
  color: var(--cor-resposta);
  min-height: 200px;
  border-radius: 5px;
  background-color: var(--fundo-resposta);
  border: 1px var(--borda-all) inset;
  font-size: 1.4rem;
  line-height: 1.4;
}

.caixa_botao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.botao {
  width: 200px;
  font-size: 1rem;
  padding: 10px 20px;
  background-color: var(--fundo-botao);
  color: var(--cor-botao);
  border: 1px solid --fundo-input;
  border-radius: 5px;
  cursor: pointer;
}

.display-none {
  display: none;
}

@media screen and (min-width: 2400px) {
 
  main {
    width: 30%
  }

}

@media screen and (max-width: 1500px){

  main{
    width: 80%;
  }

}