@media print {
  :root {
    --cor-titulo: rgb(43, 43, 43);
    --cor-legenda: var(--cor-titulo);
    --cor-letras: #00000083;
  }

  body {
    transform: scale(1);
  }

  header {
    display: none;
  }

  footer {
    display: none;
  }

  .calculadora_container {
    width: 50%;
  }

  .caixa_calculadora {
    padding: 100px 0 0 0;
    border: none;
  }

  .caixa_botao {
    display: none;
  }
}
